<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartoon Talk</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon.png">
    <!-- Remix icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" >
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/swiper-bundle.min.css') }}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/main.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <nav class="navbar container">
            <a href="{{ url_for('index') }}">
                <h2 class="logo">Cartoon Talk</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="{{ url_for('index') }}" class="list-link current">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="{{ url_for('spongebob') }}" class="list-link">Spongebob</a>
                    </li>
                    <li class="list-item">
                        <a href="{{ url_for('sandy') }}" class="list-link">Sandy</a>
                    </li>
                    <li class="list-item">
                        <a href="{{ url_for('patricks') }}" class="list-link">Patricks</a>
                    </li>
                </ul>
            </div>

                <div class="icon-box place-items-center" id="search-icon">

                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>


            </div>
        </nav>
    </header>

    <!-- Featured articles -->
    <section class="featured-articles section section-header-offset">

        <div class="featured-articles-container container d-grid">

            <div class="featured-content d-grid">

                <div class="headline-banner">
                    <h3 class="headline fancy-border">
                        <span class="place-items-center">About us</span>
                    </h3>
                    <span class="headline-description">
                      <a href = "https://www.space.com/meet-milky-way-black-hole-sagittarius-a#:~:text=Sagittarius%20A*%20sits%20at%20the,an%20extremely%20compact%20source%20there.">
                      We're designing a chatbot that lets you speak to your childhood friends.
                    </a></span>
                </div>

                <a href="{{ url_for('spongebob') }}" class="article featured-article featured-article-1">
                    <img src="{{ url_for('static', filename='spongebob.jpeg') }}" alt="" class="article-image">
                    <span class="article-category">SpongeBob</span>

                    <div class="article-data-container">
                        <h3 class="title article-title">SPONGEBOB SQUAREPANTS</h3>
                    </div>
                </a>

                <a href="{{ url_for('sandy') }}" class="article featured-article featured-article-2">
                    <img src="{{ url_for('static', filename='sandy.jpeg') }}" alt="" class="article-image">
                    <span class="article-category">Sandy</span>

                    <div class="article-data-container">

                        <h3 class="title article-title">Sandy!</h3>

                    </div>
                </a>

                <a href="{{ url_for('patricks') }}" class="article featured-article featured-article-3">
                    <img src="{{ url_for('static', filename='patricks.jpeg') }}" alt="" class="article-image">
                    <span class="article-category">Patricks</span>

                    <div class="article-data-container">

                        <h3 class="title article-title">SpongeBob's best buddy, Patricks!</h3>

                    </div>
                </a>

            </div>

            <div class="sidebar d-grid">

                <h3 class="title featured-content-title">Thomas and Friends</h3>

                <a href="./gravityvslight.html" class="trending-news-box">
                    <div class="trending-news-img-box">
                        <span class="trending-number place-items-center">01</span>
                        <img src="{{ url_for('static', filename='thomas.jpg') }}" class="article-image">
                    </div>

                    <div class="trending-news-data">

                        <h3 class="title article-title">Talk to Thomas!</h3>

                    </div>
                </a>

                <a href="./blackholes.html" class="trending-news-box">
                    <div class="trending-news-img-box">
                        <span class="trending-number place-items-center">02</span>
                        <img src="{{ url_for('static', filename='gordon.jpg') }}" alt="" class="article-image">
                    </div>

                    <div class="trending-news-data">

                        <h3 class="title article-title">Talk to Gordon!</h3>

                    </div>
                </a>

                <a href="./relativityvsmechanics.html" class="trending-news-box">
                    <div class="trending-news-img-box">
                        <span class="trending-number place-items-center">03</span>
                        <img src="{{ url_for('static', filename='edward.jpg') }}" alt="" class="article-image">
                    </div>

                    <div class="trending-news-data">
                        <h3 class="title article-title">Talk to Edward!</h3>
                    </div>
                </a>



            </div>

        </div>

    </section>

    <!-- Footer -->
    <footer class="footer section">
            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Cartoon Talk</h2>
                </a>
                <p class="company-description">This is a web application designed for UofTHacks11, where the theme was "Nostalgia"
                Based on that, we decided to create a chat-bot that allows us to talk to some of our favorite childhood TV show characters.</p>
                <h4> Team Members: Savit Agarwal, Aditya Rajeev, Karan Singh, Victor Kondoh </h4>
            </div>
    </footer>
    <!-- Swiper.js -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="./assets/js/main.js"></script>
</body>
</html>
