<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('spongebob')}}">Spongebob</a>
        <a href="{{ url_for('sandy')}}">Sandy</a>
        <a href="{{ url_for('patricks')}}">Patricks</a>
      </nav>
    <main>
        <div class="introduction">
            <div class = "description-title">
                <h2>About Us</h2>
            </div>
            <div class = "description">
                <p>We're designing a chatbot that lets you speak to your childhood nostalgic friends.</p>
            </div>
        </div>   
    </main>

    <button class = "spongebob-button">
        <a href = "{{ url_for('spongebob')}}"><img class = "spongebob-img" src = "{{ url_for('static', filename='spongebob.jpeg') }}"></a>
        <a href = "{{ url_for('spongebob')}}"><p class="spongebob-button-text"> Talk to "SPONGEBOB SQUAREPANTS"</p></a>
    </button>

    <button class = "sandy-button">
        <a href = "{{ url_for('sandy')}}"> <img class = "spongebob-img" src = "{{ url_for('static', filename='sandy.jpeg') }}"> </a>
        <a href = "{{ url_for('sandy')}}"> <p class="spongebob-button-text"> Talk to Sandy</p></a>
    </button>

    <button class = "patricks-button">
        <a href = "{{ url_for('patricks')}}"> <img class = "spongebob-img" src = "{{ url_for('static', filename='patricks.jpeg') }}"> </a>
        <a href = "{{ url_for('patricks')}}"> <p class="spongebob-button-text"> Talk to Patricks</p></a>
    </button>
</body>
</html>
