<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="spongebob.html">Spongebob</a>
        <a href="sandy.html">Sandy</a>
        <a href="patricks.html">Patricks</a>
      </nav>
    <main>
        <div class="introduction">
            <div class = "description-title">
                <h2>About Us</h2>
            </div>
            <div class = "description">
                <p>We're designing a chatbot that lets you speak to your childhood nostalgic friends.</p>
            </div>
        </div>   
    </main>

    <button class = "spongebob-button">
        <a href = "spongebob.html"><img class = "spongebob-img" src = "spongebob.jpeg"></a>
        <a href = "spongebob.html"><p class="spongebob-button-text"> Talk to "SPONGEBOB SQUAREPANTS"</p></a>
    </button>

    <button class = "sandy-button">
        <a href = "sandy.html"> <img class = "spongebob-img" src = "sandy.jpeg"> </a>
        <a href = "sandy.html"> <p class="spongebob-button-text"> Talk to Sandy</p></a>
    </button>

    <button class = "patricks-button">
        <a href = "patricks.html"> <img class = "spongebob-img" src = "patricks.jpeg"> </a>
        <a href = "patricks.html"> <p class="spongebob-button-text"> Talk to Patricks</p></a>
    </button>
</body>
</html>
