<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('spongebob')}}">Spongebob</a>
        <a href="{{ url_for('sandy')}}">Sandy</a>
        <a href="{{ url_for('patricks')}}">Patricks</a>
      </nav>
    <main>
        <div class="main-div">
            <div class="container">
                <div class="top-part">
                    <img class = "spongebob-img" src = "{{ url_for('static', filename='patricks.jpeg') }}">
                    <h3> Patricks</h3>
                    <div class="agent-text"></div>
                    <p> Agent <soan>(Online)</soan></p>
            </div>
            <form class="input-form"> 
                <label for="user-input">Enter your question here: </label><input type="text" id="user-input" name="user-input"><br>
            </form>
            {% if output %} <p>{{ output }}</p> {% endif %}
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
