<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="spongebob.html">SpongeBob</a>
        <a href="sandy.html">Sandy</a>
        <a href="patricks.html">Patricks</a>
      </nav>
    <main>
        <div class="main-div">
            <div class="container">
                <div class="top-part">
                    <img src= "sandy.jpeg" alt="Spongebob">
                    <h3> Sandy</h3>
                    <div class="agent-text"></div>
                    <p> Agent <soan>(Online)</soan></p>
            </div>
            <form class="'input-form">
                <label for="user-input">Enter your question here: </label><input type="text" id="user-input" name="user-input"><br>
            </form>
        </div>
    </main>
</body>
</html>
